@import "tailwindcss";

@font-face {
  font-family: "Recoleta";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/recoleta.woff2") format("woff2");
  font-display: swap;
}

@theme {
  --color-knc-red: #e3321f;
  --color-knc-blue: #0f1e30;
  --color-knc-dark: #070a0c;

  --font-sans: "Inter Variable", sans-serif;
  --font-title: "Recoleta", sans-serif;
}

:root {
  @apply scroll-smooth;

  scrollbar-width: thin;
  scrollbar-color: var(--color-knc-red) var(--color-knc-dark);
}

p,
figcaption {
  @apply text-pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance;
}
