---
import Iso from "@/assets/Iso.astro";
---

<footer class="bg-knc-red p-3 text-knc-dark lg:px-20 z-10">
  <div class="flex items-center justify-between">
    <p class="text-sm">2024-2025. Algún derecho reservado.</p>
    <Iso class="size-6" />
  </div>
</footer>
