<div
  id="keep-scrolling"
  class="fixed -bottom-4 flex w-full flex-col items-center justify-center gap-4"
>
  <p class="text-xs text-gray-200">Se vienen cositas</p>

  <div class="bg-knc-red size-6 animate-bounce rounded-full"></div>
</div>
