---
import OutlineLogo from "@/assets/OutlineLogo.astro";
---

<header class="fixed top-0 left-0 z-40 flex w-full justify-between p-16">
  <OutlineLogo class="size-12" />

  <nav>MENU</nav>
</header>
