---
import { generateSlug } from "@/lib/utils";

const { data } = Astro.props;
const { title, image, id } = data;
const slug = generateSlug(title);
---

<article
  class="card aspect-[3/4] h-96 shrink-0 snap-start transition-all duration-300 rounded-md overflow-clip"
>
  <a class="size-full" href={`/podcast/${slug}`}>
    <picture>
      <img class="size-full object-cover object-bottom-left" src={image} alt={title} loading="lazy" decoding="async" />
    </picture>

    <h3 class="sr-only">{title}</h3>
  </a>
</article>

<style>
  .card.active {
    outline: 4px solid white;
    aspect-ratio: 16/9;;
  }
</style>

<script>
  function init_play() {
    const cards = document.querySelectorAll(".card");

    if (!cards) return;

    cards.forEach((card) => {
      
    });
  }

  init_play();
  document.addEventListener("astro:after-swap", init_play);
</script>
