---
import VideoCard from "@/components/VideoCard.astro";
import type { Episode } from "@/lib/types";

const { data, title } = Astro.props;
const episodes = data.filter((episode: Episode) => !episode.hidden);
const current_season = episodes[0].season;
---

<section class="relative flex w-full flex-col pt-4 lg:pt-8 gap-4">
  <h2 class="px-12 text-xl lg:text-3xl">
    {title || `Temporada ${current_season}`}
  </h2>

  <div
    class="slider snap flex w-full snap-x snap-mandatory items-center gap-2 overflow-x-auto scroll-p-12 py-4"
  >
    <div class="shrink-0 snap-start">
      <div class="shrink-0 w-10"></div>
    </div>

    {episodes.map((episode: Episode) => <VideoCard data={episode} />)}

    <div class="shrink-0 snap-end">
      <div class="shrink-0 w-10"></div>
    </div>
  </div>
</section>

<script>
  function init_slider() {
    const sliders = document.querySelectorAll(
      ".slider"
    ) as NodeListOf<HTMLElement>;

    sliders.forEach((slider) => {
      const slide = slider.querySelector("article") as HTMLElement;
      const prev = slider.querySelector(".prev") as HTMLElement;
      const next = slider.querySelector(".next") as HTMLElement;
      const cards = slider.querySelectorAll(".card") as NodeListOf<HTMLElement>;

      cards[0].classList.add("active");

      slider.addEventListener("scroll", () => {
        cards.forEach((card) => {
          const { left } = card.getBoundingClientRect();
          if (left > 46 && left < 50) {
            card.classList.add("active");
          } else {
            card.classList.remove("active");
          }
        });
      });

      prev.addEventListener("click", () => {
        slider.scrollBy({
          left: -slide.clientWidth * 2,
          behavior: "smooth",
        });
      });

      next.addEventListener("click", () => {
        slider.scrollBy({
          left: slide.clientWidth * 2,
          behavior: "smooth",
        });
      });
    });
  }

  init_slider();
  document.addEventListener("astro:after-swap", init_slider);
</script>

<style>
  section > div {
    scrollbar-width: none;
  }
</style>
