---
import VideoHeader from "@/components/VideoHeader.astro";
import VideoSlider from "@/components/VideoSlider.astro";
import Layout from "@/layouts/Layout.astro";

import { lastEpisode, seasons, extras } from "@/lib/utils";
import { getCollection } from "astro:content";

const episodes = await getCollection("episodes");

console.log(episodes);
---

<Layout
  title="Podcast"
  description="Si te preguntas d칩nde ver el podcast de Kncelados, est치s en el lugar adecuado. Tanto en esta p치gina web, como en nuestro canal de YouTube encontrar치s todos los episodios."
>
  <div class="pb-10">
    <VideoHeader data={lastEpisode} />
    {seasons.map((season) => <VideoSlider data={season} />)}
    <VideoSlider data={extras} title="Especiales" />
  </div>
</Layout>
