<section
  id="mystery-book"
  class="flex w-full max-w-6xl flex-col items-center justify-center gap-6 px-4 py-28 text-center lg:flex-row"
>
  <img
    src="/libro-kncelados-mystery.webp"
    alt="Kncelados Mystery"
    loading="lazy"
    decoding="async"
    class=""
  />
  <div class="flex flex-col items-center">
    <h2 class="text-center text-5xl lg:text-7xl">Kncelados Mystery</h2>

    <p class="mt-2 mb-8 max-w-5xl text-center text-lg lg:text-2xl">
      Ya esta en preventa nuestro libro. Un libro de acertijos que esconde más
      de lo que aparenta...
    </p>

    <a
      href="https://amzn.eu/d/j9PeBIn"
      target="_blank"
      class="bg-knc-red min-w-48 rounded-xl px-8 py-3 transition-transform hover:scale-110"
    >
      Compralo ya
    </a>
  </div>
</section>
