---
import Youtube from "@/assets/Youtube.astro";
import Instagram from "@/assets/Instagram.astro";
import Tiktok from "@/assets/Tiktok.astro";
import Spotify from "@/assets/Spotify.astro";
import Telegram from "@/assets/Telegram.astro";
import Patreon from "@/assets/Patreon.astro";
---

<section
  id="colabora"
  class="flex w-full flex-col items-center justify-center gap-6 bg-knc-red px-4 py-28 text-gray-100 lg:py-48"
>
  <h2 class="text-center text-5xl lg:text-7xl">Colabora con nosotros</h2>

  <p class="max-w-5xl text-center text-lg lg:mt-6 lg:text-2xl">
    Si te gusta nuestro contenido y quieres colaborar con nosotros, suscribirte
    a nuestro canal de youtube y siguenos en nuestras redes. Pero si esto te
    sabe a poco, también puedes colaborar realizando una compra en nuestra
    tienda (proximamente), o participando en nuestro Patreon (proximamente).
  </p>

  <div
    class="mt-8 flex items-center gap-6 lg:gap-10 [&_a]:transition-transform hover:[&_a]:scale-110"
  >
    <a href="https://www.youtube.com/@kncelados" target="_blank">
      <Youtube class="size-6 lg:size-8" />
      <span class="sr-only">Youtube de Kncelados</span>
    </a>

    <a href="https://www.instagram.com/kncelados" target="_blank">
      <Instagram class="size-6 lg:size-8" />
      <span class="sr-only">Instagram de Kncelados</span>
    </a>

    <a href="https://www.tiktok.com/@kncelados" target="_blank">
      <Tiktok class="size-6 lg:size-8" />
      <span class="sr-only">Tiktok de Kncelados</span>
    </a>

    <a
      href="https://open.spotify.com/show/5bDQAbJUSdfHYdii8A8eX0"
      target="_blank"
    >
      <Spotify class="size-6 lg:size-8" />
      <span class="sr-only">Spotify de Kncelados</span>
    </a>

    <a href="https://t.me/kncelados" target="_blank">
      <Telegram class="size-6 lg:size-8" />
      <span class="sr-only">Telegram de Kncelados</span>
    </a>

    <a href="https://www.patreon.com/kncelados" target="_blank">
      <Patreon class="size-6 lg:size-8" />
      <span class="sr-only">Patreon de Kncelados</span>
    </a>
  </div>
</section>

<style>
  section {
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0% 100%);

    @media (min-width: 1024px) {
      clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
    }
  }
</style>
