---
import Patreon from "@/assets/Patreon.astro";

const EVENT_TIMESTAMP = 1712599200000 as const;
---

<section
  id="next-episode"
  class="pointer-events-none fixed flex h-svh w-full flex-col items-center justify-center px-4 py-28 text-center"
>
  <h2 class="font-title mt-36 text-9xl">Lo mejor de los lunes</h2>

  <p class="mt-6 max-w-5xl text-2xl">
    Disfruta de un nuevo episodio del podcast de Kncelados todos los lunes a las
    20:00h.<br />¿Te puede el ansia? disfruta del episodio 1 día antes en
    nuestro Patreon.
  </p>

  <div
    data-date={EVENT_TIMESTAMP}
    class="font-title mt-20 flex items-center justify-center gap-2 text-center"
  >
    <p class="mr-4 text-lg">Próximo episodio en</p>

    <div
      class="flex aspect-[4/5] w-18 -skew-x-10 flex-col items-center justify-center rounded border-2 border-neutral-50"
    >
      <span data-days class="text-4xl">00</span>
      <p>días</p>
    </div>

    <div
      class="flex aspect-[4/5] w-18 -skew-x-10 flex-col items-center justify-center rounded border-2 border-neutral-50"
    >
      <span data-hours class="text-4xl">00</span>
      <p>horas</p>
    </div>

    <div
      class="flex aspect-[4/5] w-18 -skew-x-10 flex-col items-center justify-center rounded border-2 border-neutral-50"
    >
      <span data-minutes class="text-4xl">00</span>
      <p>min.</p>
    </div>

    <div
      class="flex aspect-[4/5] w-18 -skew-x-10 flex-col items-center justify-center rounded border-2 border-neutral-50"
    >
      <span data-seconds class="text-4xl">00</span>
      <p>seg.</p>
    </div>

    <p class="mx-4 text-lg">o un día antes en</p>

    <a
      class="bg-knc-red inline-flex items-center gap-2 rounded-full px-4 py-2 font-sans text-sm text-white transition-transform duration-500 hover:scale-110"
      href="https://www.patreon.com/kncelados"
      target="_blank"
    >
      <Patreon class="size-4" />
      <p class="text-lg">Patreon</p>
    </a>
  </div>
</section>

<style>
  #next-episode {
    mask-image: radial-gradient(circle at bottom, black -100%, transparent 0%); 
    mask-repeat: no-repeat;
  }
</style>

<script>
  function init_countdown() {
    const SECOND = 1000;
    const MINUTE = SECOND * 60;
    const HOUR = MINUTE * 60;
    const DAY = HOUR * 24;
    const WEEK = DAY * 7;
    const CURRENT_DATE = Date.now();

    const $countdown = document.querySelector("[data-date]");
    if (!$countdown) return;

    const $days = document.querySelector("[data-days]");
    const $hours = document.querySelector("[data-hours]");
    const $minutes = document.querySelector("[data-minutes]");
    const $seconds = document.querySelector("[data-seconds]");

    const timestamp = $countdown.getAttribute("data-date");
    if (!timestamp) return;

    let endDate = new Date(+timestamp).getTime();

    while (endDate < CURRENT_DATE) {
      endDate += WEEK;
    }

    function formatTime(time: number) {
      return Math.floor(time).toString().padStart(2, "0");
    }

    function updateCountdown() {
      const now = Date.now();
      const diff = endDate - now;

      if ($days instanceof HTMLElement) {
        $days.innerText = formatTime(diff / DAY);
      }
      if ($hours instanceof HTMLElement) {
        $hours.innerText = formatTime((diff % DAY) / HOUR);
      }
      if ($minutes instanceof HTMLElement) {
        $minutes.innerText = formatTime((diff % HOUR) / MINUTE);
      }
      if ($seconds instanceof HTMLElement) {
        $seconds.innerText = formatTime((diff % MINUTE) / SECOND);
      }
    }

    setInterval(updateCountdown, SECOND);
  }

  init_countdown();
  document.addEventListener("astro:after-swap", init_countdown);
</script>
