<section
  id="podcast"
  class="pointer-events-none fixed flex h-svh w-full flex-col items-center justify-center opacity-0"
>
  <canvas id="podcast-canvas" class="absolute inset-0 flex size-full"></canvas>

  <div
    id="podcast-overlay"
    class="bg-knc-dark/70 absolute inset-0 flex backdrop-blur"
  >
  </div>
</section>
