<section
  id="nosotros"
  class="flex w-full max-w-5xl flex-col items-center justify-center gap-6 px-4 py-24 lg:py-48"
>
  <h2 class="text-center text-5xl lg:text-7xl">¿Quiénes son estos?</h2>

  <p class="mb-8 mt-2 max-w-4xl text-center text-lg lg:text-2xl">
    ¿Quién son estos Kncelados? Colectivamente, son amigos, individualmente, eso
    lo tendrás que descubrir tú mismo.
  </p>

  <div
    class="grid w-full max-w-3xl grid-cols-2 gap-2 text-center lg:mt-16 lg:gap-8"
  >
    <article
      class="shadow-knc-black/70 flex aspect-3/4 w-full flex-col items-center overflow-clip bg-knc-blue shadow-2xl transition-all hover:z-10 hover:-rotate-3 hover:scale-110 hover:bg-knc-red"
    >
      <h3
        class="z-20 w-full py-4 text-xl font-bold text-white lg:py-8 lg:text-7xl"
      >
        Rup
      </h3>
      <picture class="h-full bg-[url('/sprites/rup.png')]"></picture>
    </article>

    <article
      class="shadow-knc-black/70 flex aspect-3/4 w-full flex-col items-center overflow-clip bg-knc-blue shadow-2xl transition-all hover:z-10 hover:-rotate-3 hover:scale-110 hover:bg-knc-red"
    >
      <h3
        class="z-20 w-full py-4 text-xl font-bold text-white lg:py-8 lg:text-7xl"
      >
        Dani
      </h3>
      <picture class="h-full bg-[url('/sprites/dani.png')]"></picture>
    </article>

    <article
      class="shadow-knc-black/70 flex aspect-3/4 w-full flex-col items-center overflow-clip bg-knc-blue shadow-2xl transition-all hover:z-10 hover:-rotate-3 hover:scale-110 hover:bg-knc-red"
    >
      <h3
        class="z-20 w-full py-4 text-xl font-bold text-white lg:py-8 lg:text-7xl"
      >
        Ander
      </h3>
      <picture class="h-full bg-[url('/sprites/ander.png')]"></picture>
    </article>

    <article
      class="shadow-knc-black/70 flex aspect-3/4 w-full flex-col items-center overflow-clip bg-knc-blue shadow-2xl transition-all hover:z-10 hover:-rotate-3 hover:scale-110 hover:bg-knc-red"
    >
      <h3
        class="z-20 w-full py-4 text-xl font-bold text-white lg:py-8 lg:text-7xl"
      >
        Joz
      </h3>
      <picture class="h-full bg-[url('/sprites/joz.png')]"></picture>
    </article>
  </div>
</section>

<style>
  article {
    border-radius: 0.25rem;
  }

  picture {
    aspect-ratio: 1.4861;
    background-size: 200%;
    background-position: 0 0;
  }

  article:hover > picture {
    animation: gif 2s steps(1, end) infinite;
    transition: 150ms;
  }

  @keyframes gif {
    25% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0 100%;
    }
    75% {
      background-position: 100% 100%;
    }
  }
</style>
