---
import { generateSlug, lastEpisode } from "@/lib/utils";
import PlayIcon from "@/assets/PlayIcon.astro";
import LineLeft from "@/assets/LineLeft.astro";
import LineRight from "@/assets/LineRight.astro";
import LineBottom from "@/assets/LineBottom.astro";

const slug = generateSlug(lastEpisode.title);
const lastEpisode_url = `podcast/${slug}`;
---

<section
  id="welcome"
  class="fixed flex h-svh w-full flex-col items-center justify-center gap-8"
>
  <div class="opacity-10">
    <LineLeft class="absolute top-0 left-0 scale-125 w-full -z-10" />
    <LineRight class="absolute top-0 left-0 scale-125 w-full -z-10" />
    <LineBottom class="absolute top-3/4 left-1/2 w-full -z-10" />
  </div>

  <div class="atropos my-atropos">
    <div class="atropos-scale">
      <div class="atropos-rotate">
        <div class="atropos-inner">
          <h1
            class="text-9xl inline-flex items-center drop-shadow-xl drop-shadow-knc-dark"
          >
            F<span class="text-knc-red">*</span>CK M<span class="text-knc-red"
              >[</span
            ><img
              class="w-56 object-contain scale-125 drop-shadow-xl drop-shadow-knc-dark"
              src="/verdu-draw.webp"
              alt="verdu"
            /><span class="text-knc-red">]</span>NDAYS
          </h1>
        </div>
      </div>
    </div>
  </div>

  <a
    id="podcast-btn"
    class="fixed bottom-10 right-10 rotate-3 hover:scale-110 transition-transform active:scale-100 inline-flex bg-neutral-200 rounded-xl px-6 py-4 items-center gap-1.5 text-knc-dark text-xs"
    href={lastEpisode_url}><PlayIcon class="size-4" />VER EL PODCAST</a
  >
</section>

<style>
  #podcast-btn {
    corner-shape: squircle;
  }
</style>

<script>
  import "atropos/css";
  import Atropos from "atropos";

  Atropos({
    el: ".my-atropos",
    eventsEl: "#welcome",
    alwaysActive: true,
    highlight: false,
    shadow: false,
    activeOffset: 7.5,
    rotateYMax: 7.5,
  });
</script>
